<p-menubar [model]="items">
        <div>
          
            <button class="btn btn-sm btn-primary"><i class="fa fa-sign-out"></i></button>
        </div>
    </p-menubar>  
    &nbsp;
    <p-dataTable [value]="books" [paginator]="true" [rows]="10">
            <p-column field="book_name" header="Book name"></p-column>
            <p-column field="author" header="Author"></p-column>
            <p-column field="isbn" header="ISBN"></p-column>
            <p-column field="publish_year" header="Publish year"></p-column>
   </p-dataTable>
               
              
                
        
    